<%= form_with(model: Gender.new) do |form| %>
  <div class="card-header">
    <h5>Faktor Kesenjangan </h5>
  </div>
  <div class="card-body">
    <div class="field">
      <%= form.label :akses, class: 'form-label' %>
      <%= form.text_field :akses, class: 'form-control' %>
    </div>
    <div class="field">
      <%= form.label :partisipasi, class: 'form-label' %>
      <%= form.text_field :partisipasi, class: 'form-control' %>
    </div>
    <div class="field">
      <%= form.label :kontrol, class: 'form-label' %>
      <%= form.text_field :kontrol, class: 'form-control' %>
    </div>
    <div class="field">
      <%= form.label :manfaat, class: 'form-label' %>
      <%= form.text_field :manfaat, class: 'form-control' %>
    </div>
  </div>
<% end %>
